{% extends "admin/admin-base.html" %}
{% block title %}Manage Events{% endblock %}

{% block content %}
<h2>Manage Events</h2>

<table class="event-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Total</th>
      <th>Sold</th>
      <th>Available</th>
    </tr>
  </thead>

  <tbody>
    {% for event in events %}
    <tr>
      <td>{{ event.title }}</td>
      <td>{{ event.event_date }}</td>
      <td>{{ event.total_coupons }}</td>
      <td>{{ event.tickets_sold }}</td>
      <td>{{ event.available_coupons }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">No events found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
